@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&family=PT+Sans:wght@400;700&family=Roboto+Slab:wght@400;700&display=swap');

.heading h1 {
	font-size: 50px;
	font-weight: normal;
	font-style: italic;
	font-family: 'Roboto Slab', serif;
}

.paragraph {
	font-family: 'PT Sans', sans-serif;
}

.paragraphTwo {
	font-family: 'Arimo', sans-serif;
}