/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/

body{
	font-family: Arial, "Times New Roman", Helvetica, sans-serif;
	width: 1440px;
	height: 1024px;
}

.container{
	max-width: 1440px;
	margin: 0px auto;
}

.content {
	flex: 1 1 auto;
}


.hi {
	background-color: red;
	width: 1440px;
	height: 60px;
}
.hi__title {
	height: 20px;
	font-size: 20px;
	color: white;
	padding-top: 20px;
	padding-left: 20px;
	padding-top: 20px;
	font-family: Helvetica;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 23px;

}

.title {
	color: #445161;
	font-size: 30px;
}

.vertical {
	padding: 50px 0;
}
.vertical__title {
	text-align: center;
	margin: 0px 0px 30px 0px;
}

.vertical__body {
	max-width: 1440px;
	margin-left: 70px;
}
.vertical__row {
	display: flex;
	margin: 0px -22.5px;
}

.vertical__column {
	padding: 0px 22.5px;
	flex: 0 1 33.333%;
	display: flex;
}

.vertical__column_1{
	align-self: center;
}
.vertical__column_2{
	
}
.vertical__column_3{
	align-self: flex-end;
}

.vertical__item {
	background-color: white;
	border-radius: 5px;
	color: black;
	border: 5px solid #E5E000;
	display: flex;
	flex-direction: column;
	padding: 0px 0px 20px 0px;
	width: 400px;
	height: 800px;
}
.vertical__subtitle {
	padding-top: 33px;
	padding-right: 33px;
	padding-bottom: 41px;
	padding-left: 33px;
	font-family: Helvetica;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 23px;
}
.vertical__label {
	text-align: center;
	background-color: #fff;
	padding: 12px 0;
	color: #445162;
	font-size: 40px;
}
.vertical__text {
	padding: 20px;
	font-size: 16px;
	line-height: 24px;
	flex: 1 1 auto;
}
.vertical__text p{
	margin: 0px 0px 15px 0px;
}
.vertical__text p:last-child{
	margin: 0;
}

.vertical__btn {
	display: block;
	margin: 0px 20px;
	text-align: center;
	line-height: 40px;
	background-color: #fff;
	border-radius: 5px;
	color: #445161;
	font-size: 18px;
}


.footer {
	background-color: red;
	width: 1440px;
	height: 60px;
}
.footer__row {
	display: flex;
	height: 60px;
	justify-content: left;
	align-items: center;
}
.footer__text {
	color: #445162;
	font-size: 20px;
  line-height: 23px;
  color: white;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  margin-left: 20px;
}