section {
	color: blue;
}

div {
	color: red;
}

.second {
	color: purple;
}

#section2 {
	color: pink;
}

footer div {
	color: green;
}

nav, h2 {
	color: grey;
}

main .firstSection {
	background: lightblue;
}