body {
	color: black;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	line-height: 57px;
	background-color: #FFFFFF;
}
input[type="text"] {
	background-color: #f3f3f3;
	border: 1px solid #e7e7e7;
	height: 30px;
	color: #b2b2b2;
	padding: 0 10px;
	vertical-align: top;
	}
#wrapper {
	width: 1440px;
	height: 2227px;
	background-size: cover;
}
header {
	width: 1440px;
	height: 200px;
	left: 0px;
	top: 0px;
}
nav a {
	text-decoration: none;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav li {
	font-family: Helvetica;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	line-height: 29px;
}
.links {
	width: 1440px;
	height: 100px;
	left: 0px;
	top: 1280px;
	background-image: url(../img/links.png);
}

.top-menu li {
	display: inline-block;
	align-items: center;
	text-transform: uppercase;
}
.top-menu a {
	color: white;
}
#heading {
	background-color: #E5E000;
	height: 200px;
	left: 80px;
	top: 80px;
	font-family: Helvetica;
	font-size: 50px;
	line-height: 57px;
	color: #FFFFFF;
	display: flex;
	align-items: center;
}
h1 {
	font-family: Helvetica;
	font-size: 50px;
	line-height: 57px;
	color: #FFFFFF;
}
figure {
	display: inline-block;
	margin: 0;
	background-size: contain;
	width: 1440px;
	height: 1080px;
	background-image: url(../img/driko.jpg);
}

figure img {
	left: 0px;
	top: 200px;
	background-size: cover;
}
footer {
	background: #E5E000;
	width: 1440px;
	height: 200px;
	left: 0px;
	top: 2227px;
}
#footer {
	text-align: right;
	color: white;
	display: block;
}
#footer-logo {
	width: 205px;
	height: 46px;
	left: 5.56%;
	right: 80.21%;
	top: 94.93%;
	bottom: 3.17%;
	background-image: url(../img/logo.png);
	background-size: cover;
}